p {
    color: #03071E;
}

h1 {

    color: #6A040F;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h2 {

    color: #6A040F;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h3 {

    color: #6A040F;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h4 {

    color: #6A040F;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

